/* Hay que sobreescribir los valores para adaptar elementos a los dispositivos moviles */

@media screen and (max-width: 960px){

		main {
				margin-bottom:30%;
		}

		header{ /* Encabezado */
				display: table;
		}

		header h3{
				width:auto;
		}

		header input[type="text"]{
			  width:60%;
		}

		header form, header div[class="rightCenter"] a{
				padding-top:initial; /* Espacio interno de relleno superior para acomodar elementos horizontalmente */
		}

		.leftCenter{
				float:none;
				width:auto;
				justify-content:center;
				padding-top:1%;
				padding-bottom:1%;
		}

		.rightCenter{
				float:none;
				justify-content:center;
				padding-top:1%;
				padding-bottom:1%;
		}

		.article{ /* Articulo izquierdo, central y derecho */
				margin:4%; /* Margen de 4% */
				width:auto;
				float:none;
		}

		li {
			  float:none;
		}

}
