@media only screen and (max-width: 1024px) and (min-width: 640px) { 
		html {
			font-size:60px;
		}
    header{ /* Encabezado */
        display: table;
				width:98%;
    }
		.leftCenter{
        display: flex;
	      align-items: center;
				justify-content:center;
				padding:2%
		}
		.rightCenter{
        display: flex;
	      align-items: center;
				justify-content:center;
				padding:2%;
		}
		header h3{
  	    padding-left:1%; /* Espacio interno de relleno izquierdo para que no se pegue titulo con el logo */
  	    width:50%; /* Ancho maximo para que no se baje de renglon el titulo */
    }
		header div[class="rightCenter"] a{
				padding-left:2%; /* Para que no se pegue el enlace de login contra el boton buscar */
		}
		footer{ /* Footer */
        display:table;
				position:fixed;
				justify-content:center;
				width:98%;
				bottom:0;
    }
		.box { /* Se resume el diseño de las cajas en una clase (Tanto para el header, el footer, las cajas de formularios, etc.) */
			border:1px solid; /* Borde de grosor de un pixel solido */
			padding:1%; /* Espacio interno de relleno */
			border-color:gray; /* Color de borde gris */
			background-color:lightgray; /* Color de fondo gris claro */
		}
		.article{ /* Articulo izquierdo, central y derecho */
				text-align:center; /* Texto centrado horizontalmente. */
		}
		.emptySpace { /* Para rellenar espacios vacios */
	      padding:20%; 
    }
		.login { /* Formulario de inicio de sesion */
				display: flex;               /* indico a la box sea flexible*/
				flex-direction: column;      /* colocar los objetos del box agrupados horizontalmente */
				align-items: center;         /* centrar el contenido horizontalmente */
		}

		.btn { /* El ancho de los botones van a equivaler al 50% del ancho del elemento que lo contenga */
				width:50%;
		}

		.label_login {
				font-weight: bold;            /* estilo=negrita para los campos level */
		}

		.input_login {
				margin-bottom: 10px;          /* margen inferior para lo inputs */
		}
		.contentPadding { /* Para acomodar elementos */
	      padding:14%;
    }
		ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
				overflow: hidden;
		}

		li {
				float: left;
		}

		li a, .dropbtn {
				display: inline-block;
				color: black;
				text-align: center;
				padding: 14px 16px;
				text-decoration: none;
		}

		li a:hover, .dropdown:hover .dropbtn {
				background-color: red;
		}

		li.dropdown {
				display: inline-block;
		}

		.dropdown-content {
				display: none;
				position: absolute;
				background-color: #f9f9f9;
				min-width: 160px;
				box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
				z-index: 1;
		}

		.dropdown-content a {
				color: black;
				padding: 12px 16px;
				text-decoration: none;
				display: block;
				text-align: left;
		}

		.dropdown-content a:hover {
				background-color: #f1f1f1;
		}

		.dropdown:hover .dropdown-content {
				display: block;
		}
}

@media only screen and (min-width: 1025px){


		*{ /* Todos los elementos de la pagina web */
				margin:0%; /* Inicializo el documento sin margen */
				padding:0%; /* Inicializo el documento sin borde de relleno */
		}

		body{ /* Cuerpo */
				margin:1%; /* Un margen de 1% para que no se peguen los elementos contra el costado del navegador (completa de la linea para afuera) */
				padding:0%; /* Borde de relleno (completa de la linea para adentro) */
		}

		.box { /* Se resume el diseño de las cajas en una clase (Tanto para el header, el footer, las cajas de formularios, etc.) */
			border:1px solid; /* Borde de grosor de un pixel solido */
			padding:1%; /* Espacio interno de relleno */
			border-color:gray; /* Color de borde gris */
			background-color:lightgray; /* Color de fondo gris claro */
		}

		header{ /* Encabezado */
				display:inline-block; /* Que se muestre un bloque en linea */
				width:98%; /* Anchura (98% por que con el padding se completa al 100%) */
		}

		header h3{
				padding-left:1%; /* Espacio interno de relleno izquierdo para que no se pegue titulo con el logo */
				width:98%; /* Ancho maximo para que no se baje de renglon el titulo */
		}

		header form, header div[class="rightCenter"] a{
				padding-top:8%; /* Espacio interno de relleno superior para acomodar elementos horizontalmente */
		}
		
		.leftCenter{ /* Contenido izquierdo del encabezado y del footer */
				float:left; /* Que se posicione del lado izquierdo */
				display:flex; /* Diseño flexible */
				align-items:center; /* Que se centren horizontalmente los elementos */
				width:50%;
		}

		.rightCenter{ /* Contenido derecho del encabezado y del footer */
				float:right; /* Que se posicione del lado derecho */
				display:flex; /* Diseño flexible */
				align-items:center; /* Que se centren horizontalmente los elementos */
		}

		.article{ /* Articulo izquierdo, central y derecho */
				margin:6%; /* Margen de 6% */
				float:left; /* Todos se apilan de izquierda a derecha */
				width:20%; /* Tienen un ancho de 20% */
				text-align:center; /* Texto centrado horizontalmente. */
		}

		footer{ /* Footer */
				display:inline-block; /* Que se muestre como un bloque en linea */
				width:98%; /* Ancho de 98% */
		}

		.contentPadding { /* Para acomodar elementos */
				padding:14%;
		}

		.emptySpace { /* Para rellenar espacios vacios */
				padding:20%; 
		}

		.login { /* Formulario de inicio de sesion */
				display: flex;               /* indico a la box sea flexible*/
				flex-direction: column;      /* colocar los objetos del box agrupados horizontalmente */
				align-items: center;         /* centrar el contenido horizontalmente */
		}

		.btn { /* El ancho de los botones van a equivaler al 50% del ancho del elemento que lo contenga */
				width:50%;
		}

		.label_login {
				font-weight: bold;            /* estilo=negrita para los campos level */
		}

		.input_login {
				margin-bottom: 10px;          /* margen inferior para lo inputs */
		}

		ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
				overflow: hidden;
		}

		li {
				float: left;
		}

		li a, .dropbtn {
				display: inline-block;
				color: black;
				text-align: center;
				padding: 14px 16px;
				text-decoration: none;
		}

		li a:hover, .dropdown:hover .dropbtn {
				background-color: red;
		}

		li.dropdown {
				display: inline-block;
		}

		.dropdown-content {
				display: none;
				position: absolute;
				background-color: #f9f9f9;
				min-width: 160px;
				box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
				z-index: 1;
		}

		.dropdown-content a {
				color: black;
				padding: 12px 16px;
				text-decoration: none;
				display: block;
				text-align: left;
		}

		.dropdown-content a:hover {
				background-color: #f1f1f1;
		}

		.dropdown:hover .dropdown-content {
				display: block;
		}
}