<!DOCTYPE html>
<html>
    <head> 
        <title>Api Instituciones</title>
    </head>
    <body>
        <h1>Api Instutuciones - Documentacion</h1>
        <ul>
        	<li>
		        <p>
		        	GET:​​ ​ /instituciones/
					<strong>Listado de Instituciones.</strong> Este servicio permite obtener el listado completo de las
					Instituciones​ ​ disponibles.
				</p>
			</li>
			<li>
				<p>
					GET:​​ ​ /instituciones/​ {:institucion-id}
					<strong>Obtener una Institución.</strong>  Este servicio permite obtener una Institución ​ según el ID
					pasado por parámetro.
				</p>
			</li>
			<li>
				<p>
					GET​​ : ​ /instituciones/region-sanitaria/​ {:region-sanitaria}
					<strong>Listado de Instituciones.</strong>​ Este servicio permite obtener el listado completo de
					Instituciones de una regiones sanitaria a partir de un número de región pasado por
					parámetro.
				</p>
			</li>
			<li>
				<p>
					GET:​​ ​ /partidos/​ Listado de partidos.
				</p>
			</li>
		</ul>
    </body>
</html>
