<!DOCTYPE html>
<html>
    <head> 
        <title>Api Instituciones</title>
    </head>
    <body>
    	<hr>
    	<br>
        <h1>Api Instutuciones - Documentacion</h1>
        <br>
        <hr>
        <ul>
        	<li>
		        <p>
		        	GET:​​ ​ /instituciones
					<strong>Listado de Instituciones.</strong> Este servicio permite obtener el listado completo de las
					Instituciones​ ​ disponibles.
				</p>
			</li>
			<li>
				<p>
					GET:​​ ​ /instituciones/​ {:institucion-id}
					<strong>Obtener una Institución.</strong>  Este servicio permite obtener una Institución ​ según el ID
					pasado por parámetro.
				</p>
			</li>
			<li>
				<p>
					GET​​ : ​ /instituciones/region-sanitaria/​ {:region-sanitaria}
					<strong>Listado de Instituciones.</strong>​ Este servicio permite obtener el listado completo de
					Instituciones de una regiones sanitaria a partir de un número de región pasado por
					parámetro.
				</p>
			</li>
		</ul>
		<hr>
		<h3>Extras:</h3>
		<hr>
		<ul>
			<li>
				<p>
					GET:​​ ​ /instituciones/tipo-institucion/{:tipo-institucion} <strong>Listado de Instituciones.</strong> Este servicio permite obtener Instituciones segun el ID del tipo de institucion pasado por parametro.
				</p>
			</li>
			<li>
				<p>
					GET:​​ ​ /partidos <strong>Listado de partidos.</strong>
				</p>
			</li>
			<li>
				<p>
					GET:​​ ​ /regiones-sanitarias <strong>Listado de Regiones Sanitarias.</strong> Este servicio permite obtener Regiones Sanitarias.
				</p>
			</li>
			<li>
				<p>
					GET:​​ ​ /tipos-instituciones <strong>Listado de Tipos de Instituciones.</strong> Este servicio permite obtener Tipos de Instituciones.
				</p>
			</li>
		</ul>
		<hr>
    </body>
</html>
