{% extends 'base.html.twig' %}
{% block Script %}
   <script src="mi_js/misScripts.js"></script>
{% endblock %}    
{% block contenido %}
<p>{{mensaje}}<p>
		<main class="emptySpace">
		</main>
{% endblock %}    