<!DOCTYPE html>
<html lang='es'>
    <head>
      {% block Head %} {% endblock %}  
        <!-- Inico Pagina -->     
        <link rel="icon" href="./images/favicon.ico">
        <!-- Estilos de bootstrap -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
        <!-- Archivo de Configuracion para sobreescribir Bootstrap-->
        <link rel="stylesheet" href="css/miConfiguracionBootstrap.css"> 
        <link rel="stylesheet" href = "css/jquery-ui.css" >
        <!-- Tamaño y encoding -->  
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="js/jquery-3.3.1.js"></script> 
        <script src="js/jquery-ui.js"></script>
        <script src="js/bootstrap.js"></script>
        <!-- Script de bootstrap y Alertas-->          
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
   {% block Script %} {% endblock %}      
   </head>
   <body>
    <!-- ************************* Barra de Navegacion ***************************** -->
    <nav class="navbar navbar-default">
        <!-- El logotipo y el icono que despliega el menú se agrupan para mostrarlos en los dispositivos móviles -->
         <div class="navbar-header">
             <button type="button" class="navbar-toggle" data-toggle="collapse"
                  data-target=".navbar-ex1-collapse">
             <span class="sr-only">Desplegar navegación</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             </button>
             <a class="navbar-text pull-center" href="./index.php?categoria=administracion">
             <img src="./images/logo.svg" title="Cruz Roja, logo del Hospital." alt="Cruz Roja, logo del Hospital."></a>
         </div>
       
        <!-- Agrupar los enlaces de navegación, los formularios y cualquier
             otro elemento que se pueda ocultar al minimizar la barra -->
         <div class="collapse navbar-collapse navbar-ex1-collapse">
             <ul class="nav navbar-nav">
                <!-- Pestaña inicio -->
                <li><a class="navbar-text" href="./index.php?categoria=administracion">Inicio</a></li>
                <!-- pestaña Consultas -->
                <li><a class="navbar-text" href="./index.php?categoria=consulta&accion=consulta_verTodos">Consultas</a></li>
                <!-- Pestaña Paciente  -->
                <li><a class="navbar-text" href="./index.php?categoria=paciente&accion=paciente_verTodos">Pacientes</a></li>
                <!-- Pestaña Administracion -->
                <li class="dropdown">
                    <a class="navbar-text" href="#" class="dropdown-toggle" data-toggle="dropdown">Administracion<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                       <li><a href="./index.php?categoria=usuarios&accion=listarUsuarios">Usuarios</a></li>
                       <li class="divider"></li>
                        <li><a href="./index.php?categoria=estadistica&accion=grafico_ver">Reportes</a></li>
                       <li class="divider"></li> 
                       <li><a href="./index.php?categoria=configuracion&accion=configuracion_ver">Configuraciones</a></li>
                    </ul>
               </li>  
            </ul> 
            <ul class="nav navbar-nav navbar-right"> 
                <li class="dropdown">
                 </li>   
                 <li class="dropdown">   
                    <a class="navbar-text">{{user.username}}</a>  
                    <a class="navbar-text" href="./index.php?accion=logout">Cerrar Sesion</a>
                </li> 
             </ul>
         </div>
    </nav> 
    <!-- ************************* Fin Barra de Navegacion ***************************** -->
    {% block contenido %} {% endblock %}  
    <!-- ************************* Pie de Pagina  ***************************** -->
   <!-- Fin Pie de Pagina -->
   </body>
     <footer class="navbar-fixed-bottom page-footer font-small special-color-dark pt-4">
    <div class="container">
           <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                     <div class = "center-block pull-left">
                         <span class ="footer-confg">Proyecto de Software 2018 - Hospital Dr. Alejandro Korn</span> 
                     </div>
                </div>
                <div class="col-md-6 mt-md-0 mt-3">
                   <div class = "center-block pull-right">  
                      <span class = "footer-confg">v 0.2.4</span>
                   </div>   
                </div> 
          </div>
    </div>
   </footer>
</html>
