{% extends 'base.html.twig' %}
{% block Script %}
<script src="mi_js/validarPacienteBusqueda.js"></script>
{% endblock %} 
{% block contenido %}
<main>
<div class="container">
<div class="col-sm-offset-2 col-sm-8">  
        <form class="form-horizontal" method="get" action="./index.php?" id="searchForm">
              <div class="form-group">
                   <div class="col-sm-offset-4 col-sm-4">
                        <h4>Busqueda con Filtros</h4>
                   </div>
              </div>  
              <div class="form-group">
                  <input type="hidden" name="categoria" value="paciente">
              </div>
              <div class="form-group">
                  <input type="hidden" name="accion" value="paciente_verResultado">
              </div>    
              <div class="form-group">
                   <label for="nombrePaciente">Nombre Paciente</label>
                   <input type="text" class="form-control" name="nombrePaciente" id="nombrePaciente">
              </div>
              <div class="form-group">
                   <label for="apellidoPaciente">Apellido Paciente</label>
                   <input type="text" class="form-control" name="apellidoPaciente" id="apellidoPaciente">
              </div>
              <div class="form-group">
                   <label for="tipoDocumento">Tipo Documento</label>
                   <select class="form-control" name="tipoDocumento" id="tipoDocumento">
                           <option> </option> 
                           {% for documento in documentos%}
                               <option value="{{ documento.getId() }}">{{ documento.getNombre() }}</option>
                           {% endfor %} 
                   </select>
              </div>
              <div class="form-group">
                   <label for="numeroDocumento">Numero Documento</label>
                   <input type="number" class="form-control" name="numeroDocumento" id="numeroDocumento">
              </div>
              <div class="form-group">
                  <label for="numeroHistoriaClinica">Numero Historia Clinica</label>
                  <input type="number" class="form-control" name="numeroHistoriaClinica" id="numeroHistoriaClinica">
              </div>
              <div class="form-group">
                  <div method="post" class="col-sm-offset-4 col-sm-8">
                        <button type="submit" class="btn btn-info">
                        <span class="glyphicon glyphicon-search"></span> Buscar</button>
                  </div>
              </div>
        </form> 
        <form class="form-horizontal" method="get" action="./index.php?">
              <div class="form-group">
                   <div class="form-group">
                        <input type="hidden" name="categoria" value="paciente">
                   </div>
                   <div class="form-group">
                        <input type="hidden" name="accion" value="paciente_verTodos">
                   </div>    
                   <div method="post" class="col-sm-offset-4 col-sm-3">
                        <button type="submit" class="btn btn-info">  
                        <span class="glyphicon glyphicon-arrow-right"></span> Recuperar todos</button>
                   </div>
              </div> 
         </form>
         <!-- Alentar de mensajes -->    
         {% if mensaje is defined %}  
          <div class="alert alert-danger alert-dismissable">
                <button type="button" data-dismiss="alert" class="close">&times;</button>
                <strong>{{ mensaje.getTitulo() }}</strong> {{ mensaje.getCuerpo() }} 
          </div>
         {% endif %} 
</div>               
</div>                                   
</main>  
{% endblock %}     
