{% extends 'base.html.twig' %}
{% block Script %}
{% endblock %}  
{% block contenido %}
<main>
    <div class="container">
	    <div class="row">
 		  <div class="panel panel-primary" style="border-style: solid; text-align:center; color:black; background:green; width:50%;">Alta Paciente</div>
		          <div class="panel-body">
                       <p>El paciente fue dado de alta en el sistema de forma correcta</p>    
		         </div>
		     </div>    	 
	    </div>
    </div>
</main>
{% endblock %} 