{% extends 'base.html.twig' %}
{% block Script %}
{% endblock %}  
{% block contenido %}
<main>
    <div class="container text-center">
	  <div class="form-group">
	    <div class="panel panel-primary">
           <div class="panel-heading" style="background-color:red;">Borrado Paciente</div>
           <div class="panel-body"><p>El Paciente fue dado del baja del sistema</p></div>
       </div>
       <a href="./index.php?categoria=administracion" class="btn btn-danger"><span class="glyphicon glyphicon-share-alt"></span> Volver inicio</a>
     </div>
  </div>   
</main>
{% endblock %} 