{% extends 'base.html.twig' %}
{% block Script %}
{% endblock %}  
{% block contenido %}
<main>
    <div class="container text-center">
	    <div class="form-group">
 		     <div class="panel panel-primary" style="background:green;">Alta Paciente</div>
		     <div class="panel-body">
                  <p>El paciente fue dado de alta en el sistema de forma correcta</p>    
		     </div>
	    </div>    	 
	</div>
</main>
{% endblock %} 