{% extends 'base.html.twig' %}
% block Head %}
    <!-- Titulo Pagina -->
    <title>Hospital Dr. Alejandro Korn - Confirmacion Edicion Paciente</title>
{% endblock %}
{% block Script %}
{% endblock %}  
{% block contenido %}
<main>
    <div class="container text-center">
	  <div class="form-group">
	    <div class="panel panel-primary">
           <div class="panel-heading">Edición Paciente</div>
           <div class="panel-body"><p>Los cambios fueron guardados de forma correcta</p></div>
       </div>
       <a href="./index.php?categoria=paciente&accion=paciente_verTodos" class="btn btn-primary"><span class="glyphicon glyphicon-share-alt"></span>  Volver Pacientes</a>
     </div>
  </div>   
</main>
{% endblock %} 