{% extends 'base.html.twig' %}
{% block Head %}
    <!-- Titulo Pagina -->
    <title>Hospital Dr. Alejandro Korn - Confirmacion Alta Paciente</title>
{% endblock %}
{% block Script %}
{% endblock %}  
{% block contenido %}
<main>
    <div class="container text-center">
	  <div class="form-group">
	    <div class="panel panel-primary">
           <div class="panel-heading" style="background-color:green;">Consulta Creada</div>
           <div class="panel-body"><p>La consulta fue crearda de forma correcta</p></div>
       </div>
       <a href="./index.php?categoria=consulta&accion=consulta_crear" class="btn btn-success"><span class="glyphicon glyphicon-user"></span> Registrar Nueva Consulta</a>
     </div>
  </div>   
</main>
{% endblock %} 