{% extends 'base.html.twig' %}
{% block Script %}
        <script src="js/validarFormularioUsuario.js"></script>
{% endblock %}  
{% block contenido %}
 <main>  
        <div class="container margin-space">  
          <div class="col-sm-offset-2 col-sm-8">
            <div class="form-group">
                      <div class="col-sm-offset-5">
                          <h4>Crear usuario</h4>  
                      </div>
                 </div>
                 <span>{{ mensaje }}</span>
           <form method="post" action="./index.php?categoria=usuarios&accion=crear" id="userForm">
                 <div class="form-group"> <!-- Nombre -->
                    <label for="user">Nombre de usuario</label>
                    <input type="text" class="form-control" name="user" id="user" requerid size="100">
                 </div>
                 <div class="form-group"> <!-- Nombre -->
                    <label for="confirmUser">Confirmar usuario</label>
                    <input type="text" class="form-control" name="confirmUser" id="confirmUser" requerid size="100">
                 </div>

                  <div class="form-group"> <!-- Nombre -->
                    <label for="pass">Contraseña</label>
                    <input type="password" class="form-control" name="pass" id="pass" requerid size="100" minlength="6" required>
                 </div>

                 <div class="form-group"> <!-- Nombre -->
                    <label for="confirmPass">Confirmar contraseña</label>
                    <input type="password" class="form-control" name="confirmPass" id="confirmPass" requerid size="100" minlength="6" required>
                 </div>

                 <div class="form-group"> <!-- Nombre -->
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="nombre" requerid size="100" >
                 </div>

                 <div class="form-group"> <!-- Nombre -->
                    <label for="apellido">Apellido</label>
                    <input type="text" class="form-control" name="apellido" id="apellido" requerid size="100">
                 </div>

                 <div class="form-group"> <!-- Nombre -->
                    <label for="email">E-mail</label>
                    <input type="text" class="form-control" name="email" id="email" requerid size="100" minlength="6" required>
                 </div>

                 <div class="form-group"> <!-- Nombre -->
                    <label for="confirmEmail">confirmar E-mail</label>
                    <input type="text" class="form-control" name="confirmEmail" id="confirmEmail" requerid size="100" minlength="6" required>
                 </div>
                <div class="form-group">
                     <div method="post" class="col-sm-offset-5">
                         <button type="submit" class="btn btn-info" >
                         <span class="glyphicon glyphicon-user"></span> Crear usuario</button>
                     </div>
                </div>  
       </form> 
        <p>Nota: El nombre de usuario y la contrasena deben tener al menos 6 caracteres de longitud.</p>
      </div>      
    </div>   
</main>
{% endblock %}    