 {% extends 'base.html.twig' %}
  {% block Head %}
    <title>Hospital Dr. Alejandro Korn - Estadisticas</title>
            <link rel="stylesheet" href="css/highcharts.css"> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="highcharts/highcharts.js"></script>
	<script src="highcharts/exporting.js"></script>
	<script src="highcharts/export-data.js"></script>
{% endblock %}

{% block contenido %}


{% if sobre == 'genero' %}
	<form>
    <input hidden="true" type="text" id="datos" value= {{  data }}>
</form>
   <div id="container" style="width: 50%; height: 50%; margin: 0 auto " ></div>
<script src="highcharts/estaditico.js"></script>

{% elseif sobre == 'consulta' %}

	<form>
    <input hidden="true" type="text" id="datos" value= '{{  data }}''>
	</form>
  <div id="motivoconsulta" style="width: 50%; height: 50%; margin: 0 auto"></div>
<script src="highcharts/estadisticoMotivoConsultas.js"></script>

{% else %}

	<form>
    <input hidden="true" type="text" id="datos" value= '{{  data }}'>
</form>
  <div id="localidad" style="width: 50%; height: 50%; margin: 0 auto "></div>
<script src="highcharts/estadisticoXLocalidad.js"></script>

{% endif %}



{% endblock %} 


