{% extends 'base.html.twig' %}
{% block Head %}
    <!-- Titulo Pagina -->
    <title>Hospital Dr. Alejandro Korn - Pacientes</title>
{% endblock %}
{% block Script %}
{% endblock %}  
{% block contenido %}
        <main>
        <div class="container margin-space">  
               <div class="text-center">
                  <h4>Consultas del Sistema</h4>  
               </div>
               <hr> 
               <div class="form-group"> 
               <div class="text-center">
                        <button type="button" class="pull-left btn btn-danger" onclick="location.href='./index.php?categoria=administracion'">&#x21E6; Volver</button> 
                        <button onclick="location.href='./index.php?categoria=consulta&accion=consulta_crear'" type="button" class="btn btn-success btn-primary pull-right"><span class="glyphicon glyphicon-plus-sign"></span> Crear Consulta </button>
               </div>
              </div> 
          <div class="col-sm-12">  
             <div class="table-responsive">
                <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Fecha de Consulta</th>
                            <th scope="col">Numero de Consulta</th>
                            <th scope="col">Paciente-Nombre</th>
                            <th scope="col">Paciente-Apellido</th>
                            <th scope="col">Acciones</th>
                          </tr>
                        </thead>
                        <tbody>
                           {% for consulta in consultas %}
                           <tr>
                              <td>{{ consulta.getFecha()|date('Y-m-d') }}</td>
                              <td>{{ consulta.getId() }}</td>
                              <td>{{ consulta.getPaciente().getNombre() }} </td>
                              <td>{{ consulta.getPaciente().getApellido() }}</td>
                              <td>"aaa"</td>
                           </tr> 
                           {% endfor %} 
                        </tbody>   
                </table>
             </div>
          </div>
        </main>
{% endblock %}         
