<!DOCTYPE html>
<html lang='es'>
    <head>
        <link rel="icon" href="./images/favicon.ico">
        <title>Hospital Dr. Alejandro Korn - Login Pacientes Guardia</title>
		<link rel="stylesheet" href="./css/style.css">
		<link rel="stylesheet" href="./css/mobileStyle.css">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header class="box">
            <div class="leftCenter">
			    <a href="./">
                    <img src="./images/logo.svg" title="Cruz Roja, logo del Hopital" alt="Cruz Roja, logo del Hopital"/>
                </a>
				<h3>Hospital Dr. Alejandro Korn</h3>
            </div>
        </header>
        <main>
            <p>{{mensaje}}</p>
            <div class="contentMargin login">
                <form class="login" method="post" action="./index.php">
                    <label class="label_login" for="user">Usuario</label>
                    <input class="input_login" type="text" id="user" name="usuario" required/>
                    <label class="label_login" for="pass">Contraseña</label>
                    <input class="input_login" type="password" id="pass" name="password" required/>
                    <input class="btn" type="submit" value="Aceptar"/>
                </form>
            </div>
        </main>
        <footer class="box">
            <span class="leftCenter">Proyecto de Software 2018 - Hospital Dr. Alejandro Korn</span>
            <span class="rightCenter">v 0.1.0</span>
        </footer>
    </body>
</html>