*{ /* Todos los elementos de la pagina web */
  margin:0%; /* Inicializo el documento sin margen */
  padding:0%; /* Inicializo el documento sin borde de relleno */
}

body{ /* Cuerpo */
  margin:1%; /* Un margen de 1% para que no se peguen los elementos contra el costado del navegador (completa de la linea para afuera) */
  padding:0%; /* Borde de relleno (completa de la linea para adentro) */
}

header{ /* Encabezado */
  display:inline-block; /* Que se muestre un bloque en linea */
  padding:1%; /* Espacios en blanco al costado */
  width:98%; /* Anchura (98% por que con el padding se completa al 100%) */
  background-color:lightgray; /* Color de fondo */
  border:1px solid; /* Definicion, grosor y tipo de linea de los bordes */
  border-color:gray; /* Color de los bordes */
}

header a{
	padding-top:8%;
	padding-left:2%;
}

header form{
	padding-top:8%;
}

.leftCenter{ /* Contenido izquierdo del encabezado y del footer */
  float:left; /* Que se posicione del lado izquierdo */
  display:flex; /* Diseño flexible */
  align-items:center; /* Que se centren horizontalmente los elementos */
}

.rightCenter{ /* Contenido derecho del encabezado y del footer */
  float:right; /* Que se posicione del lado derecho */
  display:flex; /* Diseño flexible */
  align-items:center; /* Que se centren horizontalmente los elementos */
}

.article{ /* Articulo izquierdo, central y derecho */
  margin:6%; /* Margen de 6% */
  float:left; /* Todos se apilan de izquierda a derecha */
  width:20%; /* Tienen un ancho de 20% */
  text-align:center; /* Texto centrado horizontalmente. */
}

footer{ /* Footer */
  display:inline-block; /* Que se muestre como un bloque en linea */
  width:98%; /* Ancho de 98% */
  padding:1%; /* Borde de relleno de 1% */
  background-color:lightgray; /* Color de fondo gris claro */
  border:1px solid; /* Definicion, grosor y tipo de linea de los bordes */
  border-color:gray; /* Color de borde gris */
}

main { /* main */ /* Estilo LOGIN */
    width: auto;   /* largo automatico */
    height: auto;  /* ancho automatico */
}

#login {
    display: flex;               /* indico a la box sea flexible*/
    flex-direction: column;      /* colocar los objetos del box agrupados horizontalmente */
    width: auto;                 /* largo automatico */
    justify-content: center;     /* centrar el contenido verticalmente */
    align-items: center;         /* centrar el contenido horizontalmente */
    padding: 11%;                /* rellenr el contenido % */
}

#loginBox {

    display: flex;              /* indico a la box sea flexible*/
    flex-direction: column;     /* colocar los objetos del box agrupados horizontalmente */
}

.label_login {
  font-weight: bold;            /* estilo=negrita para los campos level */
}

.input_login {
  margin-bottom: 10px;          /* margen inferior para lo inputs */
}

#button_box {
  display: flex;               /* indico a la box sea flexible*/
  justify-content: center;     /* centrar el contenido verticalmente */
  align-items: center;         /* centrar el contenido horizontalmente */
}

#button_aceptar
{
  display: flex;               /* disposicion en el box */
  border-color: #000000;       /* color del borde */
  padding: 2%;                 /* relleno del contenido */
  justify-content: center;     /* justificar al centro  */
}
